<div class="sidebar-navigation">
    <div class="logo">
        <p>{{ime}} {{prezime}}</p>
    </div>
    <nav>
        <ul>
            <li>
                <a [routerLink] = "['/home-page']">
                    <span class="circle"></span>
                    Početak
                </a>
            </li>
            <li>
                <a (click)="scrollToElement('note')">    
                    <span class="circle"></span>
                    Beleške
                </a>
            </li>
            <li>
                <a [routerLink]="['/examGrade']">    
                    <span class="circle"></span>
                    Ostvareni poeni
                </a>
            </li>
            
            <li>
                <a [routerLink] = "['/raspored']">
                    <span class="circle"></span>
                    Raspored
                </a>
            </li>
            <li>
                <a [routerLink] = "['/kalendar']">
                    <span class="circle"></span>
                    Kalendar
                </a>
            </li>
            <li>
                <a [routerLink] = "['/account']">
                    <span class="circle"></span>
                    Moj nalog
                </a>
            </li>
            <li>
                <a  (click) = "logOut()">
                    <span class="circle"></span>
                    Odjavi se
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="slider">
    <div class="Modern-Slider content-section" id="top">
        <div class="item item-1">
            <div class="image"></div>
            <div class="info">
<!-------------------------PRIKAZ INFO KORISNIKA--------------------------------->
                <div *ngIf="!pass_change_el" class="backgr">
                    <h1>Moj nalog</h1>
                    <div class="input-group input-group-lg entry">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Ime</span>
                        </div>
                        <input type="text" class="form-control" [value]="ime" aria-label="Large" aria-describedby="inputGroup-sizing-sm" readonly>
                      </div>
                      
                      <div class="input-group input-group-lg entry">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Prezime</span>
                        </div>
                        <input type="text" class="form-control" [value] = "prezime" aria-label="Large" aria-describedby="inputGroup-sizing-sm" readonly>
                      </div>
                      
                      <div class="input-group input-group-lg entry">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Indeks</span>
                        </div>
                        <input type="text" class="form-control" [value] = "indeks" aria-label="Large" aria-describedby="inputGroup-sizing-sm" readonly>
                      </div>
                      
                      
                      <div class="input-group input-group-lg entry" >
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Lozinka</span>
                        </div>
                        <input type="password" [value]="lozinka" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn1" type="button" (click) = "pass_change_el = true;">Promeni</button>
                        </div>
                     </div>
                     
                     
                    <div class="input-group input-group-lg entry">
                        
                        <button class="btn btn-outline-secondary btn2" type="button" (click) = "deleteAccountWanted = true;">Obriši nalog</button>
                    </div> 

                    <div *ngIf = "deleteAccountWanted" class="input-group input-group-lg entry">
                        <div class="form-check " style="padding-left: 0px;">
                            <input type="checkbox" id="confirmDelete"  (change)="deleteAccount()" [disabled] = "deleteIsConfirmed">
                            <label class="form-check-label radioText" >
                              Potvrđujem da želim da obrišem svoj nalog
                            </label>
                            <input type="checkbox" id="cancelDelete"  (change)="deleteAccountWanted = false">
                            <label class="form-check-label radioText" >
                                Odustani
                            </label>
                        </div>
                    </div>
                </div>
<!------------------------------PROMENA LOZINKE---------------------------------------------------------------------->

                <div *ngIf="pass_change_el" class="backgr">
                     
                    <h2>Promeni lozinku</h2>                   
                    <div  class="input-group input-group-lg entry">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Lozinka</span>
                        </div>
                        <input type="password" class="form-control" [(ngModel)] = "passEntry" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div  class="input-group input-group-lg entry">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Nova lozinka</span>
                        </div>
                        <input type="password" class="form-control" [(ngModel)] = "newPassEntry1" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div  class="input-group input-group-lg entry">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Ponovi lozinku</span>
                        </div>
                        <input type="password" class="form-control" [(ngModel)] = "newPassEntry2" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    
                    <div class="input-group input-group-lg entry" style="padding-top:0px;">
                        
                        <button class="btn btn-outline-secondary btn3" type="button" (click)="pass_change_el = false">Odustani</button>
                        <button class="btn btn-outline-secondary btn4" type="button" (click)="changeUserPassword()">Sačuvaj</button>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
    

<section class="footer">
    <p>
        <a (click) = "logOut()">Odjavi se</a> 
    </p>
</section>    
