<ul>
    <li ><a class="nav-link" [routerLink]= "['/raspored']">Raspored</a></li>
    
 <li style="float:right"><a class="nav-link" (click) = "logout()">Log out</a></li>
 <li>
    <a class="nav-link"[routerLink] = "['/home-page']">
        <span class="circle"></span>
        Početak
    </a>
</li>
<li>
    
    <a class="nav-link" [routerLink] = "['/account']">
        <span class="circle"></span>
        Moj nalog

    </a>
</li>
<li>
    <a class="nav-link" [routerLink] = "['/kalendar']" >
        <span class= "circle"></span>
        Kalendar

    </a>

</li>
<li>
    <a (click)="scrollToElement('note')">    
        <span class="circle"></span>
        Beleške
    </a>
</li>
<li>
    <a [routerLink]="['/examGrade']">    
        <span class="circle"></span>
        Ostvareni poeni
    </a>
</li>
</ul>
 