<!DOCTYPE html>
<html lang="en">
<head>
	<title>Uloguj se u svoj planer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/assets/images/img-01.png" alt="IMG">
				</div>

				<form [formGroup] = "loginForm" class="login100-form validate-form"  *ngIf= "proceed_registration==false" (ngSubmit)= "submitForm(loginForm.value)">
					<span class="login100-form-title">
						Planer-preklapač
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Unos jedinstvenog indeksa je obavezan">
						<input class="input100" type="text" name="index" id="index" formControlName="index" placeholder="Indeks: broj/godina">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
					<p class="error-message" *ngIf = "indexLog().errors?.required">Unos indeksa je obavezan</p>
					<p class="error-message" *ngIf = "indexLog().errors?.pattern">Neispravan unos indeksa-unesite index u obliku broj/godina</p>


					<div class="wrap-input100 validate-input" data-validate = "Unos lozinke je obavezan">
						<input class="input100" type="password" name="password" id="password" formControlName="password" placeholder="Lozinka">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<p class="error-message" *ngIf = "passwordLog().errors?.required">Unesite lozinku</p>



					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn" (click) = "submitLoginForm()" [routerLink]= "['/']"  [disabled]= "!loginForm.valid">
							Uloguj se
						</button>
					</div>


					<div class="container-login100-form-btn">
						<button class="login101-form-btn"  (click)= "proceed_registration=true" >
							Registracija
						</button>
					</div>
				</form>


				<form [formGroup] = "registerForm" class="login100-form validate-form"  *ngIf= "proceed_registration==true">
					<span class="login100-form-title">
						Planer-preklapač
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Unos imena je obavezan" >
						<input class="input100" type="text" name="name" id="name" formControlName="name" placeholder="Ime">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-card-o" aria-hidden="true"></i>
						</span>
					</div>
					<p class="error-message" *ngIf = "name.errors?.required">Unos imena je obavezan</p>
					<p class="error-message" *ngIf = "name.errors?.pattern">Neispravan unos imena </p>


					<div class="wrap-input100 validate-input" data-validate = "Unos prezimena je obavezan" >
						<input class="input100" type="text" name="surname" id="surname" formControlName="surname" placeholder="Prezime">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-address-card" aria-hidden="true"></i>
						</span>
					</div>
					<p class="error-message" *ngIf = "surname.errors?.required">Unos prezimena je obavezan</p>
					<p class="error-message" *ngIf = "surname.errors?.pattern">Neispravan unos prezimena</p>


					<div class="wrap-input100 validate-input" data-validate = "Unos jedinstvenog indeksa je obavezan">
						<input class="input100" type="text" name="index" id="index" formControlName="index" placeholder="Indeks: broj/godina">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
					<p class="error-message" *ngIf = "index.errors?.required">Unos indeksa je obavezan</p>
					<p class="error-message" *ngIf = "index.errors?.pattern">Neispravan unos indeksa-unesite index u obliku broj/godina</p>

					<div class="wrap-input100 validate-input" data-validate = "Unos lozinke je obavezan">
						<input class="input100" type="password" name="password" id="password" formControlName="password" placeholder="Lozinka">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<p class="error-message" *ngIf = "password.errors?.required">Unesite lozinku</p>




					<div class="container-login100-form-btn">
						<button class="login101-form-btn" (click) = "registerStudent()"  [routerLink] = "['/']"  [disabled]= "!registerForm.valid" >
							Registruj se
						</button>
          </div>
          <div class="text-center p-t-15" (click) = "proceed_registration=false">
						<a class="txt2" href="#">

              <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
              Vrati se nazad na log in
						</a>
					</div>


				</form>
			</div>
		</div>
	</div>



<!--JS ne radi kad je ukljucen na ovaj nacin-->

<!--===============================================================================================-->
	<script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/tilt/tilt.jquery.min.js"></script>
	<script src="/assets/js/tilt.js"></script>
<!--===============================================================================================-->
	<script src="/assets/js/main.js"></script>

</body>
</html>
